logs/
npm-debug.log
yarn-error.log
node_modules/
# package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/

# easy-team忽略文件
.DS_Store
.happypack/
# node_modules/
# npm-debug.log
.idea/
dist
static
public
private
# run
*.iml
artifacts.json
*tmp
_site
# logs
.vscode
config/buildConfig.json
config/manifest.json
config/manifest-dll.json
app/view/*
!app/view/layout.html
!app/view/README.md
!app/view/.gitkeep
# package-lock.json
# yarn.lock

# npm install 后出现文件
.travis.yml
appveyor.yml

# npm run dev 后出来的文件
jsconfig.json
